* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.button-container {
  margin: 50px auto 0px;
  width: 100px;
}

button {
  width: 100px;
}

#container {
  width: 800px;
  height: 500px;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid grey;
}

.fillIn {
  background-color: gray;
}
